@model Interactive_Agency.Models.EmployeeContract
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First name: @Html.DisplayFor(model => model.EmployeeIdNavigation.EmployeeIdNavigation.FirstName)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Last name: @Html.DisplayFor(model => model.EmployeeIdNavigation.EmployeeIdNavigation.LastName)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Private phone number:  @Html.DisplayFor(model => model.EmployeeIdNavigation.EmployeeIdNavigation.PrivatePhoneNumber)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Business phone number:  @Html.DisplayFor(model => model.EmployeeIdNavigation.EmployeeIdNavigation.BusinessPhoneNumber)</label>
            </div>
            <div class="form-group">
                <label class="control-label">E-mail address: @Html.DisplayFor(model => model.EmployeeIdNavigation.EmployeeIdNavigation.EmailAddress)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Role: @Html.DisplayFor(model => model.EmployeeIdNavigation.EmployeeIdNavigation.Role)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Pesel numbeer: @Html.DisplayFor(model => model.EmployeeIdNavigation.PeselNumber)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Salary: @Html.DisplayFor(model => model.EmployeeIdNavigation.Salary)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Conract: @Html.DisplayFor(model => model.ContractIdNavigation.ContractType)</label>
            </div>
        </form>
    </div>
</div>