@model Interactive_Agency.Models.Functional.ProjectDetailsModel
@{
    ViewData["Title"] = "ProjectDetails";
}

<h3>Project name  @Html.DisplayFor(model => model.Project.ProjectName)</h3>

@{
    string View = "Project";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Project logo</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/@Model.Project.ProjectLogo" alt="/@Model.Project.ProjectLogo" height="100" width="100" />
            </td>
            <td>
                <a asp-action="Team" asp-route-teamId="@Model.Project.ProjectId" asp-route-view="@View" class="btn btn-primary">Display team</a>
            </td>
        </tr>
    </tbody>
</table>

<h3>Tasks</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task name</th>
            <th scope="col">Task end</th>
            <th scope="col">Task status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Services)
        {
            <tr>
                <td>
                    @item.ServiceIdNavigation.ServiceName
                </td>
                <td>
                    @item.AssignEnd
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a asp-action="TaskDetails" asp-route-projectId="@Model.Project.ProjectId" asp-route-serviceId="@item.ServiceId"
                   asp-route-date="@item.AssignStart" class="btn btn-primary">Details</a>
                    @{
                        if (item.Status.Equals("Finished"))
                        {
                            <a asp-action="TaskEdit" asp-route-projectId="@Model.Project.ProjectId" asp-route-serviceId="@item.ServiceId"
                   asp-route-date="@item.AssignStart" class="btn btn-primary-disabled-href"
                       new { onclick="javascript:return false;" }>Edit</a>
                        }
                        else
                        {
                            <a asp-action="TaskEdit" asp-route-projectId="@Model.Project.ProjectId" asp-route-serviceId="@item.ServiceId"
                   asp-route-date="@item.AssignStart" class="btn btn-primary">Edit</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-primary">Return</a>