@model Agencja_Interaktywna.Models.Klient
@{
ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label class="control-label">Id: @Html.DisplayFor(model => model.IdKlient)</label>
            </div>
            <div class="form-group">

                <label class="control-label">Imię: @Html.DisplayFor(model => model.IdKlientNavigation.Imie)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Nazwisko: @Html.DisplayFor(model => model.IdKlientNavigation.Nazwisko)</label>
            </div>
            <div class="form-group">

                <label class="control-label">Numer telefonu prywatny:  @Html.DisplayFor(model => model.IdKlientNavigation.NumerTelefonuPrywatny)</label>

            </div>
            <div class="form-group">
                <label class="control-label">Numer telefonu służbowy:  @Html.DisplayFor(model => model.IdKlientNavigation.NumerTelefonuSluzbowego)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Adres e-mail: @Html.DisplayFor(model => model.IdKlientNavigation.AdresEmail)</label>
            </div>
        </form>
    </div>

</div>
