@model Agencja_Interaktywna.Models.Functional.ProjectDetailsModel
@{
    ViewData["Title"] = "ProjectDetails";
}

<h3>Nazwa projektu  @Html.DisplayFor(model => model.projekt.Nazwa)</h3>
@{string Widok = "Project";}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Logo projektu</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/@Model.projekt.Logo" alt="/@Model.projekt.Logo" height="100" width="100" />
            </td>
            <td>
                <a asp-action="Team" asp-route-id="@Model.projekt.IdProjekt" asp-route-view="@Widok" class="btn btn-primary">Wyświetl zespół</a>
            </td>
        </tr>
    </tbody>
</table>
<h3>Zadania dla projektu</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa zadania</th>
            <th scope="col">Data zakończenia zadania</th>
            <th scope="col">Status zadania</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.zadanies)
        {
            <tr>
                <td>
                    @item.IdUslugaNavigation.Nazwa
                </td>
                <td>
                    @item.DataZakonczeniaZadania
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a asp-action="TaskDetails" asp-route-id1="@Model.projekt.IdProjekt" asp-route-id2="@item.IdUsluga" asp-route-data="@item.DataPrzypisaniaZadania" class="btn btn-primary">Szczegóły</a>
                    @{ if (item.Status.Equals("Zakończone"))
                        {
                            <a asp-action="TaskEdit" asp-route-id1="@Model.projekt.IdProjekt" asp-route-id2="@item.IdUsluga" asp-route-data="@item.DataPrzypisaniaZadania" class="btn btn-primary-disabled-href" new { onclick="javascript:return false;" }>Edytuj</a>
                        }
                        else
                        {
                            <a asp-action="TaskEdit" asp-route-id1="@Model.projekt.IdProjekt" asp-route-id2="@item.IdUsluga" asp-route-data="@item.DataPrzypisaniaZadania" class="btn btn-primary">Edytuj</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-primary">Wstecz</a>
