@model List<Interactive_Agency.Models.ProjectPackage>
@{ ViewData["Title"] = "Contact"; }

<h1>Umowy dla projektu</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Data rozpoczęcia współpracy</th>
            <th scope="col">Data zakończenia współpracy</th>
            <th scope="col">Nazwa pakietu</th>
            <th scope="col">Opłata (PLN)</th>
            <th scope="col">Rodzaj opłaty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.DealStart
                </td>
                <td>
                    @item.DealEnd
                </td>
                <td>
                    @item.PackageIdNavigation.PackageName
                </td>
                <td>
                    @item.PackageIdNavigation.Fee
                </td>
                <td>
                    @item.PackageIdNavigation.FeeType
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="ProjectDetails" onClick="history.go(-1); return false;" class="btn btn-primary">Wstecz</a>

