@model List<Agencja_Interaktywna.Models.PracownikKlient>
@{
    ViewData["Title"] = "Meetings";
}

<h1>Spotkania</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Data rozpoczęcia spotkania</th>
            <th scope="col">Miejsce spotkania</th>
            <th scope="col">Klient (Imię, Nazwisko)</th>
            <th scope="col">Pracownik (Imię, Nazwisko, Rola)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.DataRozpoczeciaSpotkania
                </td>
                <td>
                    @item.MiejsceSpotkania

                </td>
                <td>
                    @item.IdKlientNavigation.IdKlientNavigation.Imie
                    @item.IdKlientNavigation.IdKlientNavigation.Nazwisko
                </td>
                <td>
                    @item.IdPracownikNavigation.IdPracownikNavigation.Imie
                    @item.IdPracownikNavigation.IdPracownikNavigation.Nazwisko <br />
                    @item.IdPracownikNavigation.IdPracownikNavigation.Rola
                </td>
            </tr>
        }
    </tbody>
</table>