@model Interactive_Agency.Models.Client
@{
    ViewData["Title"] = "Profile";
}

<h1>Profil</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Imię: @Html.DisplayFor(model => model.ClientIdNavigation.Imie)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Nazwisko: @Html.DisplayFor(model => model.ClientIdNavigation.Nazwisko)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Numer telefonu prywatny:  @Html.DisplayFor(model => model.ClientIdNavigation.NumerTelefonuPrywatny)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Numer telefonu służbowy:  @Html.DisplayFor(model => model.ClientIdNavigation.NumerTelefonuSluzbowego)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Adres e-mail: @Html.DisplayFor(model => model.ClientIdNavigation.AdresEmail)</label>
            </div>
        </form>
    </div>
</div>
