@model Interactive_Agency.Models.Client
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First name: @Html.DisplayFor(model => model.ClientIdNavigation.FirstName)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Last name: @Html.DisplayFor(model => model.ClientIdNavigation.LastName)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Private phone number:  @Html.DisplayFor(model => model.ClientIdNavigation.PrivatePhoneNumber)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Business phone number:  @Html.DisplayFor(model => model.ClientIdNavigation.BusinessPhoneNumber)</label>
            </div>
            <div class="form-group">
                <label class="control-label">E-mail Address: @Html.DisplayFor(model => model.ClientIdNavigation.EmailAddress)</label>
            </div>
        </form>
    </div>
</div>