@model Interactive_Agency.Models.Functional.TaskEditModel
@{
    ViewData["Title"] = "TaskEdit";
}

<h1>Task edit</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="TaskEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger" />
            <input type="hidden" asp-for="@Model.ServiceProject.ProjectId" />
            <div>
                <input type="hidden" asp-for="@Model.ServiceProject.ServiceId" />
                <span asp-validation-for="ServiceProject.ServiceId" />
            </div>
            <div>
                <input type="hidden" asp-for="@Model.ServiceProject.Description" />
                <span asp-validation-for="ServiceProject.Description" />
            </div>
            <div>
                <input type="hidden" asp-for="@Model.ServiceProject.AssignStart" />
                <span asp-validation-for="ServiceProject.AssignStart" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ServiceProject.Status" class="control-label">Status edit</label>
                <select class="form-control" asp-for="@Model.ServiceProject.Status">
                    <option class="form-control" value="In progress">In progress</option>
                    <option class="form-control" value="Finished">Finished</option>
                </select>
                <span asp-validation-for="@Model.ServiceProject.Status" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ServiceProject.AssignEnd" class="control-label">Task end</label>
                <input class="form-control" type="datetime-local" asp-for="@Model.ServiceProject.AssignEnd" />
                <span asp-validation-for="ServiceProject.AssignEnd" class="text-danger" />
            </div>
            <div class="btn-goup">
                <a asp-action="ProjectDetails" asp-route-projectId="@Model.ServiceProject.ProjectId" class="btn btn-primary">Return</a>
                <input type="submit" value="Confirm" class="btn btn-primary" />
                @{
                    if (Model.ServiceProject.Status.Equals("Delay"))
                    {
                        <input type="submit" value="Report delay" class="btn btn-primary" asp-action="TaskDelay" disabled="disabled" />
                    }
                    else
                    {
                        <input type="submit" value="Report delay" class="btn btn-primary" asp-action="TaskDelay" />
                    }
                }
            </div>
        </form>
    </div>
</div>