@model List<Agencja_Interaktywna.Models.PracownikKlient>
@{
    ViewData["Title"] = "Meetings";
}

<h1>Spotkania</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Data rozpoczęcia spotkania</th>
            <th scope="col">Miejsce spotkania</th>
            <th scope="col">Pracownik (Imię, Nazwisko, Rola)</th>
            <th scope="col">Klient</th>
            <th scope="col">Edycja</th>
            <th scope="col">Usunięcie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.DataRozpoczeciaSpotkania
                </td>
                <td>
                    @item.MiejsceSpotkania

                </td>
                <td>
                    @item.IdPracownikNavigation.IdPracownikNavigation.Imie
                    @item.IdPracownikNavigation.IdPracownikNavigation.Nazwisko - 
                    @item.IdPracownikNavigation.IdPracownikNavigation.Rola
                </td>
                <td>
                    @item.IdKlientNavigation.IdKlientNavigation.Imie
                    @item.IdKlientNavigation.IdKlientNavigation.Nazwisko
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="MeetingsEdit" asp-route-id1="@item.IdKlient" asp-route-id2="@item.IdPracownik" asp-route-data="@item.DataRozpoczeciaSpotkania">Edytuj</a>
                </td>
                <td>
                    <form asp-action="MeetingsDelete" asp-route-id1="@item.IdKlient" asp-route-id2="@item.IdPracownik" asp-route-data="@item.DataRozpoczeciaSpotkania" onclick="return confirm('Czy na pewno chcesz usunąć wybrane spotkanie?')">
                        <input type="submit" value="Usuń" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="MeetingsCreate">Stwórz spotkanie</a>