@model List<Agencja_Interaktywna.Models.PracownikKlient>
@{
    ViewData["Title"] = "Meetings";
}

<h1>Spotkania</h1>
<a asp-action="MeetingsCreate" asp-route-id="">Stwórz spotkanie</a>
<table>
    <tbody>
        @foreach (var item in @Model)
        {
        <tr>
            <td>
                @item.DataRozpoczeciaSpotkania
            </td>
            <td>
                @item.MiejsceSpotkania

            </td>
            <td>
                @item.IdPracownikNavigation.IdPracownikNavigation.Imie
                @item.IdPracownikNavigation.IdPracownikNavigation.Nazwisko
                @item.IdPracownikNavigation.IdPracownikNavigation.Rola
            </td>
            <td>
                @item.IdKlientNavigation.IdKlientNavigation.Imie
                @item.IdKlientNavigation.IdKlientNavigation.Nazwisko
            </td>
            <td>
                <a asp-action="MeetingsEdit" asp-route-id1="@item.IdKlient" asp-route-id2="@item.IdPracownik" asp-route-data="@item.DataRozpoczeciaSpotkania">Edytuj kurwa</a>
                @*Html.ActionLink("Edytuj", "MeetingsEdit", new { klient = item.IdKlient, pracownik = item.IdPracownik, data = item.DataRozpoczeciaSpotkania }) |
        @Html.ActionLink("Usuń", "MeetingsDelete", new { klient = item.IdKlient, pracownik = item.IdPracownik, data = item.DataRozpoczeciaSpotkania })*@
            </td>
        </tr>
        }
    </tbody>
</table>