@model Agencja_Interaktywna.Models.Functional.ProjectDetailsModel
@{
    ViewData["Title"] = "ProjectDetails";
}

<h3>Nazwa projektu  @Html.DisplayFor(model => model.projekt.Nazwa)</h3>

<img src="/@Model.projekt.Logo" alt="/@Model.projekt.Logo" height="100" width="100" />
<a asp-action="Team" asp-route-id="@Model.projekt.IdProjekt">Wyświetl zespół</a>
<a asp-action="Contract" asp-route-id="@Model.projekt.IdProjekt">Wyświetl umowę</a>
<a asp-action="ProjectEdit" asp-route-id="@Model.projekt.IdProjekt">Edytuj projekt</a>
<form asp-action="ProjectDelete" onclick="return confirm('Czy na pewno chcesz usunąć wybrany projekt?')">
    <input type="hidden" asp-for="@Model.projekt.IdProjekt" />
    <input type="submit" value="Usuń" /> |
</form>

<a asp-action="Index">Wróć</a>
<a asp-action="TaskCreate" asp-route-id="@Model.projekt.IdProjekt">Dodaj Zadanie</a>

<table>
    <tbody>
        @foreach (var item in @Model.zadanies)
        {
            <tr>
                <td>
                    @item.IdUslugaNavigation.Nazwa
                </td>
                <td>
                    @item.DataZakonczeniaZadania
                </td>
                <td>
                    <a asp-action="TaskDetails" asp-route-id1="@Model.projekt.IdProjekt" asp-route-id2="@item.IdUsluga" asp-route-data="@item.DataPrzypisaniaZadania">Szczegóły</a>
                </td>
                <td>
                    <a asp-action="TaskEdit" asp-route-id1="@Model.projekt.IdProjekt" asp-route-id2="@item.IdUsluga" asp-route-data="@item.DataPrzypisaniaZadania">Edytuj</a>
                </td>
                <td>
                    <form asp-action="TaskDelete" asp-route-id1="@Model.projekt.IdProjekt" asp-route-id2="@item.IdUsluga" asp-route-data="@item.DataPrzypisaniaZadania" onclick="return confirm('Czy na pewno chcesz usunąć wybrane zadanie?')">
                        <input type="submit" value="Usuń" /> |
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>