@model Agencja_Interaktywna.Models.Functional.ProjectCreateModel
@{
    ViewData["Title"] = "ProjectCreate";
}

<h1>Tworzenie Projektu</h1>

<form method="post" asp-action="ProjectCreate" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        Nazwa: <input type="text" asp-for="@Model.projekt.Nazwa" />
        <span asp-validation-for="projekt.Nazwa"></span>
    </div>
    <div>
        Logo: <input type="file" name="fromFile" />
        <span asp-validation-for="projekt.Logo"></span>
    </div>
    <div>
        Zespół: <select asp-for="@Model.zespol.IdZespol">
            <option value="0">Wybierz zespół</option>
            @{
                foreach (var item in Model.zespols)
                {
                    <option value="@item.IdZespol">@item.Nazwa</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.zespol.IdZespol"></span>
    </div>
    <div>
        Firma: <select asp-for="@Model.projekt.IdFirma">
            <option value="0">Wybierz klienta</option>
            @{
                foreach (var item in Model.firmas)
                {
                    <option value="@item.IdFirma">@item.Nazwa</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.projekt.IdFirma"></span>
    </div>
    <div>
        Pakiet: <select asp-for="@Model.pakiet.IdPakiet">
            <option value="0">Wybierz umowę</option>
            @{
                foreach (var item in Model.pakiets)
                {
                    <option value="@item.IdPakiet">@item.Nazwa</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.pakiet.IdPakiet"></span>
    </div>
    <div>
        <input type="submit" value="Zatwierdź" />
    </div>
</form>
<a href="Index" onClick="history.go(-1); return false;"> Wróć</a>
