@model Agencja_Interaktywna.Models.Functional.TeamEditModel
@{
    ViewData["Title"] = "TeamEdit";
}

<h1>Edycja zespołu</h1>
<form method="post" asp-action="TeamsEdit">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="@Model.zespol.IdZespol" />
    <div>
        Nazwa zespołu: <input type="text" asp-for="@Model.zespol.Nazwa" />
        <span asp-validation-for="zespol.Nazwa"></span>
    </div>
    <div>
        <table>
            @for (int i = 0; i < Model.pracowniks.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => Model.pracowniks[i].Id)
                        @Html.DisplayFor(it => Model.pracowniks[i].Nazwa)
                    </td>
                    <td>
                        @Html.CheckBoxFor(it => Model.pracowniks[i].IsChecked, new { Style = "vertical-align: 3px" })
                        @if (ViewBag.Error != null)
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    alert("@ViewBag.Error")
                                    return false;
                                };
                            </script>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        <input type="submit" value="Potwierdź zmiany" />
    </div>
</form>
<a asp-action="Teams">Wróć</a>

