@model List<Interactive_Agency.Models.ProjectPackage>
@{
    ViewData["Title"] = "Contact";
}

<h1>Contracts for the project</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Deal Start</th>
            <th scope="col">Deal End</th>
            <th scope="col">Package Name</th>
            <th scope="col">Fee (PLN)</th>
            <th scope="col">Fee Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.DealStart
                </td>
                <td>
                    @item.DealEnd
                </td>
                <td>
                    @item.PackageIdNavigation.PackageName
                </td>
                <td>
                    @item.PackageIdNavigation.Fee
                </td>
                <td>
                    @item.PackageIdNavigation.FeeType
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="ProjectDetails" onClick="history.go(-1); return false;" class="btn btn-primary">Return</a>