@model Interactive_Agency.Models.Functional.MeetingCreateModel
@{
    ViewData["Title"] = "MeetingCreate";
}

<h1>Tworzenie Spotkania</h1>
<div class="row">
<div class="col-md-4">
    <form method="post" asp-action="MeetingsCreate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PracownikKlient.MeetingLocation" class="control-label">Miejsce spotkania</label>
            <input type="text" class="form-control" asp-for="@Model.PracownikKlient.MeetingLocation" />
            <span asp-validation-for="PracownikKlient.MeetingLocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PracownikKlient.MeetingStart" class="control-label">Data rozpoczęcia spotkania</label>
            <input type="datetime-local" class="form-control" asp-for="@Model.PracownikKlient.MeetingStart" />
            <span asp-validation-for="PracownikKlient.MeetingStart" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PracownikKlient.MeetingEnd" class="control-label">Data zakończenia spotkania</label>
            <input type="datetime-local" class="form-control" asp-for="@Model.PracownikKlient.MeetingEnd" />
            <span asp-validation-for="PracownikKlient.MeetingEnd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PracownikKlient.ClientId" class="control-label">Klient</label>
            <select class="form-control" asp-for="@Model.PracownikKlient.ClientId">
                <option value="">Wybierz klienta</option>
                @{
                    foreach (var item in Model.Klients)
                    {
                        <option class="form-control" value="@item.ClientId">@item.ClientIdNavigation.AdresEmail</option>
                    }
                }
            </select>
            <span asp-validation-for="@Model.PracownikKlient.ClientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PracownikKlient.EmployeeId" class="control-label">Pracownik</label>
            <select class="form-control" asp-for="@Model.PracownikKlient.EmployeeId">
                <option value="">Wybierz pracownika</option>
                @{
                    foreach (var item in Model.Pracowniks)
                    {
                        <option class="form-control" value="@item.EmployeeId">@item.EmployeeIdNavigation.AdresEmail</option>
                    }
                }
            </select>
            <span asp-validation-for="@Model.PracownikKlient.EmployeeId" class="text-danger"></span>
        </div>
        <div class="btn-group">
            <a asp-action="Meetings" class="btn btn-primary">Wstecz</a>
            <input type="submit" value="Zatwierdź" class="btn btn-primary"/>
        </div>
    </form>
    </div>
    </div>


