@model List<Interactive_Agency.Models.EmployeeClient>
@{
    ViewData["Title"] = "Meetings";
}

<h1>Meetings</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Meeting start</th>
            <th scope="col">Meeting place</th>
            <th scope="col">Employee (First name, Last name, Role)</th>
            <th scope="col">Client (First name, Last name)</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.MeetingStart
                </td>
                <td>
                    @item.MeetingLocation

                </td>
                <td>
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.FirstName
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.LastName <br />
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.Role
                </td>
                <td>
                    @item.ClientIdNavigation.ClientIdNavigation.FirstName
                    @item.ClientIdNavigation.ClientIdNavigation.LastName
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="MeetingsEdit" asp-route-clientId="@item.ClientId"
                   asp-route-employeeId="@item.EmployeeId" asp-route-date="@item.MeetingStart">Edit</a>
                </td>
                <td>
                    <form asp-action="MeetingsDelete" asp-route-clientId="@item.ClientId" asp-route-employeeId="@item.EmployeeId"
                      asp-route-date="@item.MeetingStart" onclick="return confirm('Are you sure you want to delete the selected meeting?')">
                        <input type="submit" value="Delete" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="MeetingsCreate">Create meeting</a>