@model Interactive_Agency.Models.Functional.MeetingEditModel
@{
    ViewData["Title"] = "MeetingEdit";
}

<h1>Edycja Spotkania</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="MeetingsEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.IdKlient" />
            <input type="hidden" asp-for="@Model.IdPracownik" />
            <input type="hidden" asp-for="@Model.DataRozpoczeciaSpotkania" />
            <div class="form-group">
                <label asp-for="PracownikKlient.MeetingLocation" class="control-label">Miejsce spotkania</label>
                <input type="text" class="form-control" asp-for="@Model.PracownikKlient.MeetingLocation" />
                <span asp-validation-for="PracownikKlient.MeetingLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracownikKlient.MeetingStart" class="control-label">Data rozpoczęcia spotkania</label>
                <input type="datetime-local" class="form-control" asp-for="@Model.PracownikKlient.MeetingStart" />
                <span asp-validation-for="PracownikKlient.MeetingStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracownikKlient.MeetingEnd" class="control-label">Data zakończenia spotkania</label>
                <input type="datetime-local" class="form-control" asp-for="@Model.PracownikKlient.MeetingEnd" />
                <span asp-validation-for="PracownikKlient.MeetingEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PracownikKlient.ClientId" class="control-label">Klient</label>
                <select class="form-control" asp-for="@Model.PracownikKlient.ClientId">
                    @{
                        foreach (var item in Model.klients)
                        {
                            <option class="form-control" value="@item.ClientId">@item.ClientIdNavigation.AdresEmail</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.PracownikKlient.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PracownikKlient.EmployeeId" class="control-label">Pracownik</label>
                <select class="form-control" asp-for="@Model.PracownikKlient.EmployeeId">
                    @{
                        foreach (var item in Model.pracowniks)
                        {
                            <option class="form-control" value="@item.EmployeeId">@item.EmployeeIdNavigation.AdresEmail</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.PracownikKlient.EmployeeId" class="text-danger"></span>
            </div>
            <div class="btn-group">
                <a asp-action="Meetings" class="btn btn-primary">Wstecz</a>
                <input type="submit" value="Zatwierdź" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>



