@model List<Interactive_Agency.Models.EmployeeClient>
@{
    ViewData["Title"] = "Meetings";
}

<h1>Spotkania</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Data rozpoczęcia spotkania</th>
            <th scope="col">Miejsce spotkania</th>
            <th scope="col">Pracownik (Imię, Nazwisko, Rola)</th>
            <th scope="col">Klient (Imię, Nazwisko)</th>
            <th scope="col">Edycja</th>
            <th scope="col">Usunięcie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.MeetingStart
                </td>
                <td>
                    @item.MeetingLocation

                </td>
                <td>
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.Imie
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.Nazwisko <br />
                    @item.EmployeeIdNavigation.EmployeeIdNavigation.Rola
                </td>
                <td>
                    @item.ClientIdNavigation.ClientIdNavigation.Imie
                    @item.ClientIdNavigation.ClientIdNavigation.Nazwisko
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="MeetingsEdit" asp-route-id1="@item.ClientId" asp-route-id2="@item.EmployeeId" asp-route-data="@item.MeetingStart">Edytuj</a>
                </td>
                <td>
                    <form asp-action="MeetingsDelete" asp-route-id1="@item.ClientId" asp-route-id2="@item.EmployeeId" asp-route-data="@item.MeetingStart" onclick="return confirm('Czy na pewno chcesz usunąć wybrane spotkanie?')">
                        <input type="submit" value="Usuń" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="MeetingsCreate">Stwórz spotkanie</a>