@model Interactive_Agency.Models.Employee
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger" />
            <div class="form-group">
                <label class="control-label">First name: @Html.DisplayFor(model => model.EmployeeIdNavigation.FirstName)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Last name: @Html.DisplayFor(model => model.EmployeeIdNavigation.LastName)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Private phone number:  @Html.DisplayFor(model => model.EmployeeIdNavigation.PrivatePhoneNumber)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Business phone number:  @Html.DisplayFor(model => model.EmployeeIdNavigation.BusinessPhoneNumber)</label>
            </div>
            <div class="form-group">
                <label class="control-label">E-mail Address: @Html.DisplayFor(model => model.EmployeeIdNavigation.EmailAddress)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Home Address: @Html.DisplayFor(model => model.HomeAddress)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Salary: @Html.DisplayFor(model => model.Salary)</label>
            </div>
            <div class="form-group">
                <label class="control-label">Pesel number: @Html.DisplayFor(model => model.PeselNumber)</label>
            </div>
        </form>
    </div>
</div>