@model Interactive_Agency.Models.Functional.ProjectDetailsModel
@{
    ViewData["Title"] = "ProjectDetails";
}

<h3>Nazwa projektu:  @Html.DisplayFor(model => model.Project.ProjectName)</h3>
@{string Widok = "Project";}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Logo projektu</th>
            <th scope="col">Akcje</th>
            <th scope="col">Usunięcie</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/@Model.Project.ProjectLogo" alt="/@Model.Project.ProjectLogo" height="100" width="100" />
            </td>
            <td>
                <a asp-action="Team" asp-route-id="@Model.Project.ProjectId" asp-route-view="@Widok" class="btn btn-primary">Wyświetl zespół</a>
                <a asp-action="Contract" asp-route-id="@Model.Project.ProjectId" class="btn btn-primary">Wyświetl umowę</a>
                <a asp-action="ProjectEdit" asp-route-id="@Model.Project.ProjectId" class="btn btn-primary">Edytuj projekt</a>
            </td>
            <td>
                <form asp-action="ProjectDelete" onclick="return confirm('Czy na pewno chcesz usunąć wybrany projekt?')">
                    <input type="hidden" asp-for="@Model.Project.ProjectId" />
                    <input type="submit" value="Usuń" class="btn btn-primary" />
                </form>
            </td>
        </tr>
    </tbody>
</table>
<h3>Zadania dla projektu</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa zadania</th>
            <th scope="col">Data zakończenia zadania</th>
            <th scope="col">Status zadania</th>
            <th scope="col">Akcje</th>
            <th scope="col">Usunięcie</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Services)
        {
        <tr>
            <td>
                @item.ServiceIdNavigation.ServiceName
            </td>
            <td>
                @item.AssignEnd
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <a asp-action="TaskDetails" asp-route-id1="@Model.Project.ProjectId" asp-route-id2="@item.ServiceId" asp-route-data="@item.AssignStart" class="btn btn-primary">Szczegóły</a>


                <a asp-action="TaskEdit" asp-route-id1="@Model.Project.ProjectId" asp-route-id2="@item.ServiceId" asp-route-data="@item.AssignStart" class="btn btn-primary">Edytuj</a>
            </td>
            <td>
                <form asp-action="TaskDelete" asp-route-id1="@Model.Project.ProjectId" asp-route-id2="@item.ServiceId" asp-route-data="@item.AssignStart" onclick="return confirm('Czy na pewno chcesz usunąć wybrane zadanie?')">
                    <input type="submit" value="Usuń" class="btn btn-primary" />
                </form>
            </td>

        </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-primary">Wstecz</a>
<a asp-action="TaskCreate" asp-route-id="@Model.Project.ProjectId" class="btn btn-primary">Dodaj Zadanie</a>
