@model Interactive_Agency.Models.Functional.ProjectEditModel
@{
    ViewData["Title"] = "ProjectEdit";
}

<h1>Project edit</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ProjectEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" />
            <input type="hidden" asp-for="@Model.Project.ProjectId" />
            <input type="hidden" asp-for="@Model.TeamId" />
            <input type="hidden" asp-for="@Model.PackageId" />
            <input type="hidden" asp-for="@Model.Project.ProjectLogo" />
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label">Project name</label>
                <input type="text" class="form-control" asp-for="@Model.Project.ProjectName" />
                <span asp-validation-for="ErrorHandler1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.ProjectLogo" class="control-label">Project logo</label>
                <img src="/@Model.Project.ProjectLogo" alt="/@Model.Project.ProjectLogo" height="100" width="100" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Team.TeamId" class="control-label">Team</label>
                <select class="form-control" asp-for="@Model.Team.TeamId">
                    @{
                        foreach (var item in Model.Teams)
                        {
                            <option value="@item.TeamId">@item.TeamName</option>
                        }
                    }
                </select>
                <span asp-validation-for="ErrorHandler4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.CompanyId" class="control-label">Client</label>
                <select class="form-control" asp-for="@Model.Project.CompanyId">
                    @{
                        foreach (var item in Model.Companies)
                        {
                            <option value="@item.CompanyId">@item.CompanyName</option>
                        }
                    }
                </select>
                <span asp-validation-for="ErrorHandler2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Package.PackageId" class="control-label">Package</label>
                <select class="form-control" asp-for="@Model.Package.PackageId">
                    @{
                        foreach (var item in Model.Packages)
                        {
                            <option value="@item.PackageId">@item.PackageName</option>
                        }
                    }
                </select>
                <span asp-validation-for="ErrorHandler3" class="text-danger"></span>
            </div>
            <div class="btn-group">
                <a asp-action="ProjectDetails" asp-route-projectId="@Model.Project.ProjectId" class="btn btn-primary">Return</a>
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>