@model List<Interactive_Agency.Models.Team>
@{
    ViewData["Title"] = "Teams";
}

<h1>Zespoły</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa zespołu</th>
            <th scope="col">Akcje</th>
            <th scope="col">Usunięcie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            item.Widok = "Teams";
            <tr>
                <td>
                    @item.Nazwa
                </td>
                <td>
                    <a asp-action="Team" asp-route-id="@item.IdZespol" asp-route-view="@item.Widok" class="btn btn-primary">Wyświetl zespół</a>

                    <a asp-action="TeamsEdit" asp-route-id="@item.IdZespol" class="btn btn-primary">Edytuj</a>
                </td>
                <td>
                    <form asp-action="TeamsDelete" asp-route-id="@item.IdZespol" onclick="return confirm('Czy na pewno chcesz usunąć wybrany zespół?')">
                        <input type="submit" value="Usuń" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="TeamsCreate" class="btn btn-primary">Stwórz zespół</a>